<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alulu </title>
    <meta name="description" content="[Your site description should be here]">
    
    
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Alulu ">
    <meta name="twitter:description" content="[Your site description should be here]">
    <meta name="twitter:image:src" content="">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:300,500,800" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700,900" rel="stylesheet">
    
    <link href="public/css/main.css" media="screen" rel="stylesheet">
    <script src="public/js/modernizr.js"></script>
    
  </head>
  <body class="page-index">

    <header id="site-header" class="site-header js-site-header">

	<a class="site-logo" href="/">
		<img alt="" class="site-logo-img" src="./public/images/logo.svg">

		<span class="site-logo-tagline">Brewpub</span>
	</a>

	

	
	
	<button class="menu-toggle js-menu-toggle">
		<span class="menu-toggle-bars"></span>
	</button>

</header>


<nav id="site-nav" class="site-nav js-site-nav">

	<div class="site-nav-wrapper">
		<ul id="site-nav-menu" class="site-nav-menu">
			<li  data-menuanchor="home" class=" site-nav-menu-item active">
				<a class="site-nav-menu-link js-nav-link" href="#home">Alulu Home</a>
			</li>
			<li  data-menuanchor="beer" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#beer">Alulu Craft Beer</a>
			</li>
			<li  data-menuanchor="food" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#food">Alulu Food</a>
			</li>
			<li  data-menuanchor="craft-cocktails" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#craft-cocktails">Alulu Craft Cocktails</a>
			</li>
			<li  data-menuanchor="contact-location" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#contact-location">Contact &amp; Location</a>
			</li>
			<li  data-menuanchor="private-events" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#private-events">Private Events at Alulu</a>
			</li>
			<li  data-menuanchor="events" class=" site-nav-menu-item ">
				<a class="site-nav-menu-link js-nav-link" href="#events">Alulu Events</a>
			</li>
		</ul>
	</div>
</nav>

<main id="homepage" role="main" class="main-content">

    <div id="fullpage">

    	<section class="panel" >
    		<div class="panel-bar">
    			<header class="panel-header">
    				<h1 class="panel-header-title">Welcome to Alulu Brewpub</h1>
    			</header>
    			<div class="panel-header-copy"><p>All of our exclusive small batch <a href="#beer">craft beer</a> is made in-house in our second floor brewery and only available at our brewpub. With a  <a href="#food">chef-driven menu</a> in the heart of Pilsen, Chicago, ALULU invites you to come taste and experience what's next.</p></div>
    	
    			<div class="alulu-address">
    				<address>
    					2011 S. LAFLIN ST CHICAGO IL 60608<br>
    					<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
    					<span class="hide-mobile-landscape">(312) 600-9865</span>
    			  	</address>
    			</div>        
    		</div>
    	
    		<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-home.jpg') "></div>
    	</section>

    	
    	
    	<section class="panel" >
    	
    		<div class="panel-bar">
    			<header class="panel-header">
    				<h1 class="panel-header-title">Craft beers created by a collective</h1>
    			</header>
    			<div class="panel-header-copy"><p>Introducing new beers regularly, the Alulu brewers are working hard to tell intriguing      stories and break new ground in Chicago’s craft scene as well as deliver unique versions of your favorite styles.</p></div>
    	
    			<button class="panel-cta btn-call-to-action js-modal-open">View craft beers</button>
    	
    			<div class="alulu-address">
    				<address>
    					2011 S. LAFLIN ST CHICAGO IL 60608<br>
    					<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
    					<span class="hide-mobile-landscape">(312) 600-9865</span>
    			  	</address>
    			</div>        
    		</div>
    	
    		<div  class="modal-overlay js-modal-overlay">
    		
    			<div class="modal-overlay-content">
    				<div id="beer-grid"  class="beer-grid js-beer-grid">
    				
    					<h2 class="beer-grid-heading">Our Beers</h2>
    					
    					<ul class="beer-grid-list">
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#jaunt-rotation">Jaunt Rotation</a>
    								<span class="beer-grid-type">SESSION IPA</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#epishelf-bridge">Epishelf Bridge</a>
    								<span class="beer-grid-type">BLONDE ALE</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#westerly-apex">Westerly Apex</a>
    								<span class="beer-grid-type">APA</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#crystal-keep">Crystal Keep</a>
    								<span class="beer-grid-type">BROWN ALE</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#halcyon-equinox">Halcyon Equinox</a>
    								<span class="beer-grid-type">BELGIAN SAISON</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#rue-envoy">Rue Envoy</a>
    								<span class="beer-grid-type">IPA</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#crest-rubies">Crest Rubies</a>
    								<span class="beer-grid-type">AMBER ALE</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#provender-cave">Provender Cave</a>
    								<span class="beer-grid-type">COFFEE STOUT (DRY)</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#libra-aura">Libra Aura</a>
    								<span class="beer-grid-type">BELGIAN IPA</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#windward-aglow">Windward Aglow</a>
    								<span class="beer-grid-type">BELGIAN WIT</span>
    							</li>
    							<li class="beer-grid-item">
    								<a class="beer-grid-name js-brew-link" href="#champion-fluffy">Champion Fluffy</a>
    								<span class="beer-grid-type">BELGIAN TRIPEL</span>
    							</li>
    					</ul>
    				
    				</div>	</div>
    			
    		
    		
    		
    		</div>	
    		
    		<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-beer.jpg') "></div>
    		
    	</section>
    	
    	

        <section class="panel" >
        
        	<div class="panel-bar">
        
        		<header class="panel-header">
        			<h1 class="panel-header-title">ECLECTIC MENU BY CHEF JEFF HEDIN</h1>
        		</header>
        
        		<div class="panel-header-copy"><p>Alulu makes everything from scratch and sources locally for ingredients. Pulling from his interest in Eastern European cuisine and an eclectic mix of global dishes, Chef Jeff Hedin has created a seasonal menu to please everyone.</p></div>
        
        		<a href="./public/files/aluluFoodMenu.pdf" target="_blank" class="panel-cta btn-call-to-action">VIEW OUR CURRENT MENU</a>
        
        		<div class="alulu-address">
        			<address>
        				2011 S. LAFLIN ST CHICAGO IL 60608<br>
        				<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
        				<span class="hide-mobile-landscape">(312) 600-9865</span>
        		  	</address>
        		</div>        
        	</div>
        
        	<div  class="modal-overlay js-modal-overlay">
        	
        		
        		<div class="modal-overlay-content modal-overlay-content-simple">
        			<div class="food-menu">
        			
        				<h2 class="beer-grid-heading">Our Beers</h2>
        			
        			
        			</div>	</div>
        	
        	
        	
        	</div>	
        	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-food.jpg') "></div>
        
        </section>
        
        
        <section class="panel">
        
        	<div class="panel-bar">
        		<header class="panel-header">
        			<h1 class="panel-header-title">PREMIER CRAFT COCKTAILS</h1>
        		</header>
        		<div class="panel-header-copy"><p>In addition to the small batch craft beers and chef-driven menu, Alulu also employs the best in local craft spirits to make unique seasonal craft cocktails and beertails on par with the best in Chicago.</p></div>
        
        		<button class="panel-cta btn-call-to-action js-modal-open">VIEW SOME SPECIALTY COCKTAILS & BEERTAILS</button>
        
        
        		<div class="alulu-address">
        			<address>
        				2011 S. LAFLIN ST CHICAGO IL 60608<br>
        				<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
        				<span class="hide-mobile-landscape">(312) 600-9865</span>
        		  	</address>
        		</div>        
        	</div>
        	
        	<div  class="modal-overlay js-modal-overlay">
        	
        		
        	
        		<div class="modal-overlay-content modal-overlay-content-simple">
        			<div id="craft-cocktails-details"  class="craft-cocktails">
        			
        				<div class="craft-cocktails-section">
        					<h2 class="craft-cocktails-heading">CRAFT COCKTAILS</h2>
        			
        					<ul class="craft-cocktails-list">
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Alpine Froth</h3>
        								<p class="craft-cocktails-description">Journeyman Gin, Egg Fluﬀ, Lemon, Triple Sec, Simple</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Astronos Beach</h3>
        								<p class="craft-cocktails-description">parce rum, sweet vermouth, Aztec Chocolate, and Fire &amp; Damnation Bitters, garnished with burnt orange peel</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Meta Manhattan</h3>
        								<p class="craft-cocktails-description">Journeyman Rye, Ransom Sweet Vermouth, Cherry Bitters</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Granted Fashion</h3>
        								<p class="craft-cocktails-description">Muddled Luxardo cherry, Journeyman Bourbon, Amara, Orange Bitters</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Neon Wood</h3>
        								<p class="craft-cocktails-description">Arette Tequila, Hibiscus, Spirit, Orange, Lemon, Lime, and a hint of Agave</p>
        							</li>
        					</ul>
        				</div>
        			
        				<div class="craft-cocktails-section">
        					<h2 class="craft-cocktails-heading">BEER TAILS</h2>
        			
        					<ul class="craft-cocktails-list">
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Crystal System Major / Minor</h3>
        								<p class="craft-cocktails-description">Crystal Keep, Parce Rum, Ginger Spirit, Egg White and Salt</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Epishelf Marquee </h3>
        								<p class="craft-cocktails-description">Tequila, Lime, Agave, Housemade Spicy Vinegar and Epishelf Bridge</p>
        							</li>
        							<li class="craft-cocktails-item">
        								<h3 class="craft-cocktails-name" >Shandy / Radler </h3>
        								<p class="craft-cocktails-description">Craft beer + Craft pop (all flavors made in-house) </p>
        							</li>
        					</ul>
        				</div>
        			
        			</div>
        		</div>
        	
        	
        	</div>	
        	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-cocktails.jpg') "></div>
        	
        
        </section>
        <section class="panel" >
        
        
        	<div class="panel-bar">
        		<header class="panel-header">
        			<h1 class="panel-header-title">Contact & Location</h1>
        		</header>
        		<div class="panel-header-copy">
        			<p>
        				Email: <a href="mailto:info@alulubrew.com">info@alulubrew.com</a> for general inquiries
        			</p>
        			2011 S. Laflin St. Chicago, IL 60608<br>
        			Phone: (312) 600-9865
        		</div>
        
        		<div class="alulu-address">
        			<address>
        				2011 S. LAFLIN ST CHICAGO IL 60608<br>
        				<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
        				<span class="hide-mobile-landscape">(312) 600-9865</span>
        		  	</address>
        		</div>        
        	</div>
        	
        	
        	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-contact.jpg') "></div>
        	
        
        </section>
        <section class="panel" >
        
        	<div class="panel-bar">
        		<header class="panel-header">
        			<h1 class="panel-header-title">Private Events at Alulu</h1>
        		</header>
        
        		<div class="panel-header-copy">
        			Inquire about how we can help you host your next private event.<br>
        			Email: <a href="mailto:info@alulubrew.com">info@alulubrew.com</a>
        		</div>
        
        		<div class="alulu-address">
        			<address>
        				2011 S. LAFLIN ST CHICAGO IL 60608<br>
        				<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
        				<span class="hide-mobile-landscape">(312) 600-9865</span>
        		  	</address>
        		</div>        
        	</div>
        	
        	
        	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-special-events.jpg') "></div>
        	
        
        </section>
        <section class="panel" >
        
        	<div class="panel-bar">
        
        		<header class="panel-header">
        			<h1 class="panel-header-title">EVENTS AT ALULU</h1>
        		</header>
        		
        		<div class="panel-header-copy">
        			Coming soon! Have an idea for an event? Reach out.<br>
        			Email: <a href="mailto:info@alulubrew.com">info@alulubrew.com</a>
        		</div>
        
        
        		<div class="alulu-address">
        			<address>
        				2011 S. LAFLIN ST CHICAGO IL 60608<br>
        				<span class="hide-mobile-landscape"> SOFT OPEN: THURS-SUN 4PM - CLOSE<br></span>
        				<span class="hide-mobile-landscape">(312) 600-9865</span>
        		  	</address>
        		</div>        
        	</div>
        	
        	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-events.jpg') "></div>
        	
        </section>

    </div>

</main>

<div id="brew" class="brew js-brew">

	<div class="brew-body"></div>

	<button class="brew-close js-close-brew"></button>

</div>

<div  class="logo-overlay js-logo-overlay">

	<div class="logo-overlay-svg">
		<div class="logo-overlay-svg-wrapper">
			
<svg class="logo-piece-cover-logo"  viewBox="-1 -1 17 22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="beerIcon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path fill="url(#svg-hero-image-header)" d="M15.789,11.852 C15.831,6.589 13.243,1.305 13.243,1.305 L12.375,1.298 C12.687,2.023 14.861,7.234 14.826,11.523 C14.79,16.143 8.783,16.093 8.783,16.093 L6.935,16.078 C6.935,16.078 0.93,16.029 0.967,11.41 C1.002,7.121 3.261,1.945 3.584,1.227 L2.717,1.219 C2.717,1.219 0.043,6.461 0,11.724 C-0.042,16.987 6.799,17.042 6.799,17.042 L7.041,19.675 L2.567,19.64 L1.508,20.42 L7.822,20.472 L14.138,20.523 L13.092,19.724 L8.617,19.689 L8.902,17.059 C8.904,17.059 15.746,17.114 15.789,11.852" ></path>
        <path fill="url(#svg-hero-image-header)" d="M2.039,7.496 C1.733,7.954 1.566,9.156 1.551,11.177 C1.516,15.409 7.018,15.454 7.018,15.454 L8.712,15.468 C8.712,15.468 14.213,15.513 14.248,11.28 C14.264,9.259 13.744,7.013 13.196,5.218 L2.039,7.496 Z" ></path>
        <path d="M4.204,4.627 C4.203,4.799 4.063,4.938 3.89,4.937 C3.718,4.936 3.578,4.794 3.581,4.621 C3.582,4.448 3.723,4.31 3.895,4.311 C4.068,4.313 4.206,4.454 4.204,4.627" ></path>
        <path d="M4.828,4.632 C4.827,4.805 4.687,4.943 4.516,4.942 C4.343,4.94 4.203,4.799 4.204,4.627 C4.206,4.454 4.347,4.316 4.519,4.317 C4.691,4.318 4.83,4.459 4.828,4.632" ></path>
        <path d="M4.834,4.007 C4.833,4.18 4.692,4.318 4.52,4.317 C4.348,4.315 4.208,4.175 4.21,4.003 C4.211,3.829 4.353,3.69 4.524,3.692 C4.695,3.694 4.835,3.835 4.834,4.007" ></path>
        <path d="M5.459,4.013 C5.457,4.185 5.317,4.324 5.144,4.323 C4.972,4.32 4.832,4.18 4.834,4.007 C4.835,3.835 4.978,3.696 5.149,3.697 C5.322,3.698 5.46,3.84 5.459,4.013" ></path>
        <path d="M5.454,4.637 C5.453,4.809 5.312,4.947 5.14,4.945 C4.967,4.945 4.828,4.804 4.828,4.632 C4.831,4.459 4.972,4.32 5.143,4.322 C5.317,4.323 5.455,4.465 5.454,4.637" ></path>
        <path d="M6.079,4.641 C6.077,4.814 5.937,4.954 5.764,4.952 C5.591,4.949 5.452,4.81 5.454,4.637 C5.455,4.465 5.597,4.325 5.768,4.327 C5.941,4.328 6.08,4.469 6.079,4.641" ></path>
        <path d="M6.084,4.018 C6.083,4.19 5.941,4.329 5.769,4.328 C5.597,4.326 5.457,4.185 5.459,4.014 C5.46,3.84 5.602,3.702 5.773,3.703 C5.946,3.704 6.084,3.845 6.084,4.018" ></path>
        <path d="M6.708,4.022 C6.707,4.195 6.565,4.333 6.394,4.332 C6.221,4.331 6.082,4.189 6.084,4.018 C6.085,3.845 6.226,3.706 6.397,3.708 C6.57,3.709 6.709,3.85 6.708,4.022" ></path>
        <path d="M6.702,4.646 C6.702,4.819 6.56,4.958 6.389,4.957 C6.216,4.956 6.077,4.814 6.079,4.641 C6.08,4.469 6.221,4.331 6.393,4.332 C6.566,4.334 6.704,4.475 6.702,4.646" ></path>
        <path d="M7.328,4.651 C7.326,4.824 7.186,4.963 7.013,4.962 C6.841,4.961 6.701,4.819 6.702,4.646 C6.704,4.474 6.846,4.335 7.018,4.336 C7.19,4.339 7.329,4.479 7.328,4.651" ></path>
        <path d="M7.333,4.027 C7.332,4.199 7.19,4.339 7.018,4.337 C6.846,4.336 6.707,4.194 6.708,4.023 C6.71,3.85 6.851,3.71 7.022,3.714 C7.196,3.715 7.334,3.855 7.333,4.027" ></path>
        <path d="M7.958,4.032 C7.957,4.205 7.815,4.344 7.643,4.343 C7.47,4.341 7.331,4.2 7.333,4.027 C7.335,3.854 7.476,3.715 7.646,3.718 C7.821,3.72 7.959,3.859 7.958,4.032" ></path>
        <path d="M7.952,4.657 C7.951,4.83 7.811,4.968 7.638,4.968 C7.466,4.966 7.326,4.825 7.328,4.652 C7.329,4.48 7.47,4.342 7.642,4.343 C7.814,4.344 7.953,4.484 7.952,4.657" ></path>
        <path d="M8.577,4.662 C8.576,4.835 8.435,4.973 8.261,4.973 C8.09,4.971 7.95,4.83 7.952,4.657 C7.954,4.484 8.095,4.345 8.266,4.347 C8.439,4.35 8.578,4.489 8.577,4.662" ></path>
        <path d="M8.582,4.037 C8.58,4.211 8.439,4.35 8.267,4.348 C8.095,4.346 7.956,4.205 7.958,4.032 C7.959,3.859 8.1,3.721 8.272,3.723 C8.444,3.725 8.584,3.865 8.582,4.037" ></path>
        <path d="M9.206,4.043 C9.205,4.215 9.063,4.355 8.891,4.353 C8.72,4.352 8.579,4.21 8.582,4.037 C8.584,3.865 8.724,3.727 8.895,3.728 C9.069,3.729 9.208,3.87 9.206,4.043" ></path>
        <path d="M9.201,4.668 C9.2,4.84 9.059,4.979 8.886,4.978 C8.715,4.976 8.575,4.835 8.577,4.662 C8.579,4.49 8.72,4.352 8.891,4.353 C9.063,4.354 9.202,4.495 9.201,4.668" ></path>
        <path d="M9.831,4.048 C9.83,4.22 9.688,4.359 9.515,4.358 C9.344,4.356 9.206,4.215 9.207,4.043 C9.208,3.87 9.349,3.731 9.521,3.732 C9.693,3.733 9.832,3.875 9.831,4.048" ></path>
        <path d="M9.826,4.673 C9.825,4.846 9.683,4.985 9.511,4.983 C9.339,4.98 9.199,4.841 9.201,4.668 C9.202,4.495 9.344,4.356 9.514,4.358 C9.688,4.359 9.827,4.499 9.826,4.673" ></path>
        <path d="M10.45,4.678 C10.449,4.851 10.308,4.99 10.135,4.988 C9.963,4.985 9.824,4.845 9.826,4.673 C9.828,4.5 9.968,4.361 10.141,4.363 C10.313,4.365 10.451,4.505 10.45,4.678" ></path>
        <path d="M10.456,4.054 C10.454,4.226 10.313,4.365 10.142,4.364 C9.968,4.361 9.83,4.22 9.831,4.047 C9.832,3.875 9.973,3.736 10.146,3.738 C10.318,3.739 10.457,3.88 10.456,4.054" ></path>
        <path d="M11.08,4.059 C11.079,4.23 10.937,4.37 10.765,4.368 C10.593,4.367 10.454,4.226 10.456,4.055 C10.457,3.881 10.598,3.743 10.769,3.743 C10.942,3.745 11.081,3.886 11.08,4.059" ></path>
        <path d="M11.075,4.683 C11.073,4.855 10.933,4.995 10.76,4.994 C10.588,4.992 10.449,4.851 10.45,4.679 C10.452,4.506 10.593,4.367 10.764,4.368 C10.938,4.369 11.076,4.51 11.075,4.683" ></path>
        <path d="M11.699,4.688 C11.698,4.86 11.557,4.998 11.385,4.997 C11.213,4.996 11.073,4.854 11.075,4.683 C11.076,4.51 11.217,4.372 11.389,4.373 C11.562,4.375 11.701,4.515 11.699,4.688" ></path>
        <path d="M11.704,4.063 C11.704,4.235 11.562,4.375 11.39,4.373 C11.217,4.372 11.078,4.23 11.08,4.059 C11.081,3.885 11.222,3.747 11.394,3.748 C11.567,3.749 11.706,3.891 11.704,4.063" ></path>
        <path d="M12.329,4.068 C12.328,4.239 12.186,4.379 12.015,4.378 C11.842,4.378 11.703,4.235 11.704,4.064 C11.706,3.891 11.848,3.752 12.018,3.754 C12.191,3.754 12.331,3.896 12.329,4.068" ></path>
        <path d="M12.325,4.693 C12.324,4.865 12.182,5.005 12.009,5.003 C11.837,5.002 11.698,4.86 11.699,4.689 C11.701,4.515 11.842,4.378 12.014,4.378 C12.187,4.379 12.326,4.52 12.325,4.693" ></path>
        <path d="M12.949,4.698 C12.948,4.87 12.806,5.009 12.634,5.008 C12.462,5.007 12.322,4.865 12.325,4.694 C12.326,4.521 12.467,4.382 12.639,4.384 C12.812,4.385 12.95,4.525 12.949,4.698" ></path>
        <path d="M4.194,5.854 C4.193,6.026 4.053,6.165 3.88,6.164 C3.707,6.163 3.568,6.021 3.57,5.849 C3.571,5.676 3.713,5.538 3.885,5.539 C4.058,5.541 4.196,5.682 4.194,5.854" ></path>
        <path d="M4.819,5.859 C4.818,6.031 4.677,6.171 4.505,6.169 C4.332,6.168 4.193,6.026 4.194,5.854 C4.196,5.682 4.337,5.543 4.51,5.544 C4.683,5.546 4.82,5.687 4.819,5.859" ></path>
        <path d="M4.824,5.235 C4.823,5.406 4.683,5.546 4.51,5.545 C4.337,5.543 4.198,5.402 4.199,5.229 C4.201,5.056 4.343,4.917 4.513,4.919 C4.687,4.922 4.825,5.062 4.824,5.235" ></path>
        <path d="M5.449,5.239 C5.447,5.412 5.307,5.551 5.134,5.55 C4.962,5.548 4.822,5.407 4.824,5.235 C4.825,5.063 4.967,4.924 5.138,4.925 C5.312,4.926 5.45,5.067 5.449,5.239" ></path>
        <path d="M5.443,5.864 C5.442,6.036 5.302,6.175 5.13,6.173 C4.956,6.173 4.818,6.032 4.818,5.86 C4.821,5.687 4.963,5.548 5.133,5.55 C5.307,5.552 5.444,5.692 5.443,5.864" ></path>
        <path d="M6.069,5.869 C6.066,6.042 5.926,6.181 5.754,6.18 C5.581,6.177 5.442,6.036 5.443,5.864 C5.445,5.692 5.586,5.552 5.758,5.553 C5.931,5.556 6.069,5.696 6.069,5.869" ></path>
        <path d="M6.073,5.245 C6.072,5.417 5.931,5.556 5.759,5.554 C5.586,5.553 5.447,5.412 5.449,5.24 C5.45,5.067 5.592,4.928 5.764,4.93 C5.937,4.932 6.075,5.072 6.073,5.245" ></path>
        <path d="M6.698,5.25 C6.697,5.422 6.556,5.562 6.384,5.56 C6.212,5.559 6.072,5.417 6.073,5.245 C6.075,5.072 6.216,4.933 6.387,4.935 C6.561,4.937 6.699,5.077 6.698,5.25" ></path>
        <path d="M6.693,5.874 C6.692,6.047 6.552,6.187 6.378,6.185 C6.206,6.184 6.066,6.042 6.069,5.869 C6.069,5.696 6.211,5.557 6.383,5.559 C6.556,5.562 6.694,5.702 6.693,5.874" ></path>
        <path d="M7.317,5.88 C7.316,6.052 7.175,6.19 7.003,6.19 C6.831,6.188 6.691,6.046 6.693,5.874 C6.694,5.702 6.835,5.563 7.008,5.564 C7.181,5.566 7.319,5.707 7.317,5.88" ></path>
        <path d="M7.322,5.255 C7.321,5.427 7.181,5.567 7.009,5.565 C6.835,5.563 6.696,5.423 6.698,5.25 C6.699,5.077 6.84,4.938 7.013,4.94 C7.186,4.941 7.324,5.082 7.322,5.255" ></path>
        <path d="M7.947,5.261 C7.946,5.433 7.805,5.571 7.633,5.57 C7.46,5.569 7.321,5.428 7.322,5.255 C7.324,5.082 7.465,4.944 7.636,4.945 C7.811,4.947 7.949,5.087 7.947,5.261" ></path>
        <path d="M8.572,5.266 C8.57,5.438 8.43,5.577 8.257,5.575 C8.085,5.573 7.946,5.432 7.947,5.261 C7.949,5.087 8.089,4.948 8.263,4.95 C8.436,4.952 8.573,5.093 8.572,5.266" ></path>
        <path d="M9.196,5.271 C9.195,5.442 9.055,5.581 8.881,5.58 C8.709,5.579 8.569,5.438 8.572,5.266 C8.573,5.093 8.714,4.954 8.886,4.956 C9.059,4.957 9.198,5.098 9.196,5.271" ></path>
        <path d="M9.821,5.275 C9.82,5.447 9.678,5.587 9.506,5.586 C9.334,5.584 9.194,5.442 9.196,5.271 C9.198,5.098 9.339,4.958 9.511,4.96 C9.684,4.962 9.823,5.103 9.821,5.275" ></path>
        <path d="M10.446,5.281 C10.444,5.453 10.303,5.593 10.131,5.591 C9.959,5.589 9.819,5.447 9.821,5.276 C9.823,5.105 9.963,4.964 10.135,4.967 C10.309,4.967 10.446,5.108 10.446,5.281" ></path>
        <path d="M2.936,7.095 C2.935,7.267 2.794,7.404 2.62,7.405 C2.448,7.402 2.309,7.262 2.312,7.089 C2.313,6.917 2.455,6.777 2.625,6.779 C2.799,6.78 2.937,6.922 2.936,7.095" ></path>
        <path d="M3.564,6.475 C3.563,6.646 3.423,6.785 3.25,6.784 C3.078,6.783 2.938,6.642 2.94,6.47 C2.942,6.297 3.083,6.158 3.255,6.159 C3.428,6.161 3.565,6.303 3.564,6.475" ></path>
        <path d="M4.189,6.479 C4.188,6.652 4.048,6.791 3.874,6.79 C3.703,6.788 3.563,6.646 3.564,6.475 C3.566,6.303 3.707,6.164 3.879,6.165 C4.051,6.166 4.19,6.308 4.189,6.479" ></path>
        <path d="M4.814,6.485 C4.813,6.656 4.672,6.796 4.5,6.794 C4.327,6.793 4.188,6.652 4.189,6.479 C4.191,6.307 4.332,6.168 4.504,6.17 C4.677,6.173 4.815,6.312 4.814,6.485" ></path>
        <path d="M10.466,2.803 C10.464,2.976 10.324,3.115 10.152,3.114 C9.98,3.113 9.84,2.971 9.841,2.798 C9.843,2.626 9.984,2.487 10.156,2.488 C10.329,2.49 10.467,2.631 10.466,2.803" ></path>
        <path d="M11.09,2.809 C11.09,2.981 10.948,3.121 10.777,3.119 C10.604,3.117 10.465,2.976 10.466,2.804 C10.467,2.632 10.608,2.494 10.781,2.494 C10.953,2.495 11.092,2.636 11.09,2.809" ></path>
        <path d="M11.715,2.813 C11.713,2.986 11.573,3.125 11.4,3.124 C11.228,3.121 11.089,2.981 11.09,2.809 C11.092,2.636 11.233,2.498 11.405,2.499 C11.577,2.5 11.716,2.642 11.715,2.813" ></path>
        <path d="M8.592,2.789 C8.591,2.961 8.45,3.099 8.277,3.099 C8.104,3.097 7.966,2.956 7.968,2.783 C7.969,2.611 8.11,2.473 8.282,2.473 C8.456,2.476 8.593,2.615 8.592,2.789" ></path>
        <path d="M9.217,2.794 C9.216,2.965 9.074,3.105 8.903,3.104 C8.729,3.102 8.591,2.961 8.592,2.789 C8.594,2.616 8.736,2.477 8.906,2.478 C9.08,2.48 9.218,2.621 9.217,2.794" ></path>
        <path d="M9.841,2.799 C9.84,2.971 9.699,3.109 9.527,3.109 C9.354,3.107 9.215,2.966 9.217,2.795 C9.218,2.621 9.36,2.482 9.531,2.483 C9.704,2.485 9.842,2.626 9.841,2.799" ></path>
        <path d="M11.72,2.188 C11.719,2.361 11.577,2.5 11.406,2.499 C11.233,2.497 11.094,2.356 11.095,2.184 C11.097,2.012 11.238,1.873 11.41,1.874 C11.582,1.875 11.721,2.017 11.72,2.188" ></path>
        <path d="M11.096,2.184 C11.094,2.357 10.952,2.496 10.781,2.495 C10.609,2.493 10.469,2.351 10.471,2.179 C10.472,2.007 10.615,1.869 10.785,1.869 C10.958,1.87 11.097,2.011 11.096,2.184" ></path>
        <path d="M10.471,2.179 C10.47,2.352 10.329,2.491 10.157,2.489 C9.983,2.487 9.845,2.346 9.846,2.174 C9.848,2.002 9.99,1.862 10.161,1.864 C10.333,1.865 10.472,2.006 10.471,2.179" ></path>
        <path d="M11.725,1.563 C11.724,1.736 11.582,1.875 11.411,1.874 C11.238,1.872 11.099,1.731 11.101,1.559 C11.102,1.387 11.243,1.248 11.415,1.249 C11.587,1.251 11.726,1.392 11.725,1.563" ></path>
        <path d="M6.713,3.396 C6.712,3.569 6.57,3.709 6.398,3.707 C6.225,3.705 6.086,3.564 6.088,3.392 C6.09,3.22 6.231,3.082 6.403,3.083 C6.575,3.084 6.714,3.225 6.713,3.396" ></path>
        <path d="M11.101,1.559 C11.1,1.731 10.958,1.87 10.785,1.869 C10.613,1.867 10.474,1.726 10.475,1.554 C10.476,1.382 10.618,1.243 10.789,1.244 C10.964,1.246 11.102,1.386 11.101,1.559" ></path>
        <path d="M11.729,0.939 C11.728,1.111 11.586,1.251 11.415,1.249 C11.242,1.248 11.103,1.106 11.105,0.934 C11.107,0.762 11.247,0.623 11.419,0.625 C11.592,0.626 11.73,0.767 11.729,0.939" ></path>
        <path d="M11.734,0.314 C11.734,0.487 11.592,0.626 11.42,0.625 C11.247,0.623 11.108,0.482 11.11,0.31 C11.111,0.137 11.253,-0.001 11.424,0 C11.598,0.001 11.735,0.142 11.734,0.314" ></path>
        <path d="M4.2,5.229 C4.198,5.402 4.058,5.541 3.886,5.54 C3.713,5.539 3.574,5.397 3.575,5.226 C3.577,5.053 3.718,4.914 3.89,4.915 C4.062,4.917 4.201,5.058 4.2,5.229" ></path>
        <path d="M3.569,5.849 C3.569,6.022 3.427,6.161 3.255,6.16 C3.083,6.158 2.943,6.017 2.945,5.845 C2.947,5.673 3.088,5.534 3.259,5.535 C3.433,5.536 3.571,5.677 3.569,5.849" ></path>
        <path d="M3.575,5.224 C3.574,5.396 3.433,5.535 3.26,5.534 C3.088,5.533 2.948,5.392 2.95,5.219 C2.952,5.046 3.093,4.909 3.264,4.909 C3.438,4.911 3.575,5.052 3.575,5.224" ></path>
        <path d="M2.94,6.47 C2.939,6.642 2.798,6.78 2.625,6.779 C2.454,6.777 2.314,6.637 2.315,6.464 C2.317,6.292 2.459,6.154 2.63,6.155 C2.801,6.156 2.942,6.297 2.94,6.47" ></path>
        <path d="M12.359,0.319 C12.358,0.492 12.217,0.631 12.044,0.63 C11.872,0.628 11.733,0.487 11.735,0.315 C11.736,0.142 11.878,0.004 12.049,0.004 C12.223,0.007 12.36,0.146 12.359,0.319" ></path>
        <path d="M12.354,0.944 C12.354,1.116 12.211,1.256 12.04,1.254 C11.867,1.253 11.728,1.111 11.729,0.94 C11.731,0.768 11.873,0.628 12.043,0.63 C12.217,0.631 12.355,0.772 12.354,0.944" ></path>
        <path d="M7.338,3.402 C7.337,3.575 7.195,3.713 7.024,3.712 C6.851,3.71 6.712,3.57 6.713,3.396 C6.714,3.224 6.856,3.086 7.028,3.086 C7.201,3.089 7.339,3.229 7.338,3.402" ></path>
        <path d="M7.962,3.407 C7.961,3.579 7.82,3.719 7.647,3.718 C7.474,3.716 7.336,3.574 7.337,3.403 C7.338,3.232 7.479,3.091 7.651,3.093 C7.825,3.094 7.964,3.234 7.962,3.407" ></path>
        <path d="M8.586,3.413 C8.586,3.585 8.444,3.724 8.273,3.722 C8.101,3.721 7.96,3.58 7.962,3.407 C7.964,3.234 8.105,3.095 8.276,3.097 C8.449,3.1 8.589,3.239 8.586,3.413" ></path>
        <path d="M9.211,3.418 C9.21,3.59 9.069,3.729 8.896,3.728 C8.724,3.726 8.585,3.585 8.587,3.412 C8.589,3.239 8.729,3.101 8.901,3.102 C9.073,3.103 9.213,3.245 9.211,3.418" ></path>
        <path d="M9.837,3.423 C9.835,3.596 9.694,3.735 9.521,3.733 C9.35,3.731 9.209,3.591 9.211,3.418 C9.213,3.245 9.354,3.106 9.526,3.108 C9.699,3.109 9.837,3.25 9.837,3.423" ></path>
        <path d="M10.46,3.428 C10.459,3.601 10.318,3.74 10.145,3.738 C9.973,3.737 9.835,3.596 9.837,3.424 C9.837,3.251 9.979,3.113 10.151,3.114 C10.323,3.114 10.462,3.256 10.46,3.428" ></path>
        <path d="M11.085,3.433 C11.084,3.606 10.942,3.745 10.771,3.744 C10.599,3.742 10.459,3.601 10.46,3.429 C10.462,3.257 10.604,3.118 10.774,3.119 C10.948,3.12 11.086,3.261 11.085,3.433" ></path>
        <path d="M11.71,3.438 C11.708,3.61 11.567,3.749 11.395,3.748 C11.223,3.746 11.083,3.605 11.085,3.433 C11.086,3.261 11.228,3.122 11.399,3.124 C11.573,3.125 11.711,3.266 11.71,3.438" ></path>
        <path d="M12.335,3.443 C12.334,3.615 12.192,3.755 12.02,3.753 C11.848,3.751 11.708,3.61 11.71,3.439 C11.712,3.266 11.853,3.127 12.024,3.128 C12.197,3.129 12.336,3.271 12.335,3.443" ></path>
    </g>
</svg>
		</div>
	</div>

	<div id="logo-overlay-bg" class="logo-overlay-bg" style="background-image:url('')"></div>

</div>
<script type="text/javascript">
	var initialJsonData =  {
		"jaunt-rotation": {
			"url":"jaunt-rotation",
			"title": "Jaunt Rotation",
			"tallGlass": true,
			"taste": "a tetrology of bursts",
			"imgUrl": "./public/images/brew-jaunt-rotation.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"SESSION IPA"
				},
				{
					"label": "ABV",
					"info":  "5.20%"
				},
				{
					"label": "IBU",
					"info": "55"
				}
			],
			"description": "Refreshing, with juicy hops that swarm the slight sweet malt"
		},
		"epishelf-bridge": {
			"url": "epishelf-bridge",
			"tallGlass": true,
			"title": "Epishelf Bridge",
			"taste": "sprouting the brights",
			"imgUrl": "./public/images/brew-epishelf-bridge.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BLONDE ALE"
				},
				{
					"label": "ABV",
					"info":  "5.40%"
				},
				{
					"label": "IBU",
					"info": "22"
				}
			],
			"description": "Light and bright, this golden ale is crisp with a delicate nose"
		},
		"westerly-apex": {
			"tallGlass": true,
			"url":"westerly-apex",
			"title": "Westerly Apex",
			"taste": "aged in the Humulus sun",
			"imgUrl": "./public/images/brew-westerly-apex.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"APA"
				},
				{
					"label": "ABV",
					"info":  "5.80%"
				},
				{
					"label": "IBU",
					"info": "39"
				}
			],
			"description": "Earthy praire grass ﬁnishes with a hint of stardust"
		},
		"crystal-keep": {
			"tallGlass": true,
			"url":"crystal-keep",
			"title": "Crystal Keep",
			"taste": "of the Choco Rings",
			"imgUrl": "./public/images/brew-crystal-keep.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BROWN ALE"
				},
				{
					"label": "ABV",
					"info":  "6.40%"
				},
				{
					"label": "IBU",
					"info": "27"
				}
			],
			"description": "An English chocolate biscuit, this beer is bready and balanced with a hint of malt, ﬁnishes dry"
		},
		"halcyon-equinox": {
			"url":"halcyon-equinox",
			"title": "Halcyon Equinox",
			"taste": "golden days of ﬂuﬀy lace",
			"imgUrl": "./public/images/brew-halcyon-equinox.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN SAISON"
				},
				{
					"label": "ABV",
					"info":  "6.80%"
				},
				{
					"label": "IBU",
					"info": "28"
				}
			],
			"description": "Bright citrus esters and earthy herbal hops, with a burst of spiciness, sparkling gold with thick frothy white lace"
		},
		"rue-envoy": {
			"url":"rue-envoy",
			"title": "Rue Envoy",
			"taste": "drowning in the virulent sea",
			"imgUrl": "./public/images/brew-rue-envoy.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"IPA"
				},
				{
					"label": "ABV",
					"info":  "7.50%"
				},
				{
					"label": "IBU",
					"info": "72"
				}
			],
			"description": "Juicy fruit, hopped up with Mosaic, this beer bursts with ﬂoral and citrus notes"
		},
		"crest-rubies": {
			"url":"crest-rubies",
			"title": "Crest Rubies",
			"taste": "from the Noble Lake of Prosperity",
			"imgUrl": "./public/images/brew-crest-rubies.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"AMBER ALE"
				},
				{
					"label": "ABV",
					"info":  "7.30%"
				},
				{
					"label": "IBU",
					"info": "27"
				}
			],
			"description": "Sweet malty ale, balanced by crisp noble hops, and a hint of warmth and hidden high gravity"
		},
		"provender-cave": {
			"url":"provender-cave",
			"title": "Provender Cave",
			"taste": "of sorcerous mud and burnt ﬁelds",
			"imgUrl": "./public/images/brew-provender-cave.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"COFFEE STOUT (DRY)"
				},
				{
					"label": "ABV",
					"info":  "7.50%"
				},
				{
					"label": "IBU",
					"info": "68"
				}
			],
			"description": "Sweet espresso nose, with bittersweet dark chocolate taste and ﬁnishes with a robust roasted ﬂavor"
		},
		"libra-aura": {
			"url":"libra-aura",
			"title": "Libra Aura",
			"taste": "drank on Mezmerzen Day",
			"imgUrl": "./public/images/brew-libra-aura.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN IPA"
				},
				{
					"label": "ABV",
					"info":  "7.35%"
				},
				{
					"label": "IBU",
					"info": "54"
				}
			],
			"description": "Delicate esters and lemon citrus aromas envelop this balanced Belgian, ﬁnishes refreshing"
		},
		"windward-aglow": {
			"url":"windward-aglow",
			"title": "Windward Aglow",
			"taste": "breezy spice of stalk",
			"imgUrl": "./public/images/brew-windward-aglow.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN WIT"
				},
				{
					"label": "ABV",
					"info":  "6.43%"
				},
				{
					"label": "IBU",
					"info": "14"
				}
			],
			"description": "Bright pink grapefruit nose with creamy, wheat mouthfeel. Hints of spice and ginger notes tantalize tastebuds"
		},
		"champion-fluffy": {
			"url":"champion-fluffy",
			"title": "Champion Fluffy",
			"taste": "scratching the fractal fjord",
			"imgUrl": "./public/images/brew-champion-fluffy.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN TRIPEL"
				},
				{
					"label": "ABV",
					"info":  "8.90%"
				},
				{
					"label": "IBU",
					"info": "29"
				}
			],
			"description": "High gravity sweet malt forwardness, complex fruit esters of banana, clove and spice. Wide range of depth in aroma, full mouthfeel with thick ﬂuﬀy white head"
		}
	};
</script>
<div class="spacer-bars spacer-bars--vertical"></div>
<div class="spacer-bars spacer-bars--horizontal"></div>

    
    <script type="text/x-tmpl" id="tmpl-brew">
    	<h2 class="brew-name js-name">{%=o.title%}</h2>
    	<div class="brew-taste js-taste">{%=o.taste%}</div>
    	
    	<div class="brew-details">
    		<div class="brew-glass">
    			{% if (o.tallGlass) { %}
    			    <img class="brew-svg" src="./public/images/beer-glass-tall-white.svg">
    			{% } else { %}
    			    <img class="brew-svg" src="./public/images/beer-glass-white.svg">
    			{% } %}
    		</div>
    
    		<dl class="brew-qualities js-qualities">
    		{% for (var i=0; i<o.qualities.length; i++) { %}
    
    			<dt class="brew-qualities-label">{%=o.qualities[i].label%}</dt>
    			<dd class="brew-qualities-info">{%=o.qualities[i].info%}</dd>
    		{% } %}
    		</dl>
    	</div>
    
    
    	<strong class="brew-disclaimer">AVAILABLE WHILE SUPPLIES LAST</strong>
    
    	<!-- <button class="btn-call-to-action brew-share js-share">SHARE THIS BEER ON FACEBOOK, TWITTER ETC</button> -->
    
    	<div class="brew-description js-description">
    		{%#o.description%}
    	</div>
    
    	<div style="background-image: url('{%=o.imgUrl%}')" class="brew-img"></div>
    </script>
    <script src="public/js/vendor.js"></script>
    <script src="public/js/main.js"></script>

  </body>
</html>
